body {
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    
    

}

a:hover {
    color: maroon;
}