body {
    background-image: url('http://science-all.com/images/wallpapers/cool-background-images/cool-background-images-24.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'VT323', ;
    color: white;
    background-color: black

}

.box {
    .box{
    width: 600px;
    height: 400px;
    background-color: black;
    opacity: .5
}
}