body {
    background-image: url('http://science-all.com/images/wallpapers/cool-background-images/cool-background-images-24.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'VT323', ;
    color: white

}

div {
    color: black;
    opacity: .4
}